## Mission to Mars

In [1]:
# Dependencies
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import pymongo
import pandas as pd

In [2]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

## NASA Mars News

In [3]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
# Collect the latest News Title and Paragraph Text
result = soup.find("div", class_="list_text")
news_title = result.find("div", class_="content_title").text
news_p = result.find("div", class_="article_teaser_body").text

print(f"news_title = {news_title}")
print(f"news_p = {news_p}")

news_title = MarCO Makes Space for Small Explorers
news_p = A pair of NASA CubeSats flying to Mars are opening a new frontier for small spacecraft.

## JPL Mars Space Images - Featured Image

In [6]:
# URL of page to be scraped
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)

In [7]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [8]:
# Featured Image
featured_image_url = soup.find("img", class_="thumb")["src"]

print(f"featured_image_url = https://jpl.nasa.gov{featured_image_url}")

featured_image_url = https://jpl.nasa.gov/spaceimages/images/wallpaper/PIA22710-640x350.jpg

## Mars Weather

In [9]:
# URL of page to be scraped
url3 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url3)

In [10]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [11]:
# Latest Mars weather tweet
mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text

print(mars_weather)

Sol 2169 (2018-09-12), high -10C/14F, low -70C/-93F, pressure at 8.82 hPa, daylight 05:41-17:58

## Mars Facts

In [12]:
# URL of page to be scraped
url4 = 'https://space-facts.com/mars/'
browser.visit(url4)

In [13]:
# Using 'read_html' function in Pandas to automatically scrape any tabular data from a page
tables = pd.read_html(url4)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [14]:
# Table Type
type(tables)

list

In [15]:
# Forming DataFrame
df = tables[0]
df.columns = ['Facts', 'Values']
df

                  Facts                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [16]:
# Using 'to_html' to generate HTML tables from DataFrames
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Facts</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [17]:
# Clean up
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Facts</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [18]:
# A list to hold Mars Hemispheres
hemisphere_image_urls = []

In [19]:
# URL of page to be scraped for cerberus
url5_1 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'
browser.visit(url5_1)

In [20]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [21]:
# Featured Image
image_url_1 = soup.find("img", class_="wide-image")["src"]
title_1 = soup.find("h2",class_="title").text

cerberus = {"title":title_1, "image_url": "https://astrogeology.usgs.gov/"+image_url_1}
hemisphere_image_urls.append(cerberus)

In [22]:
# URL of page to be scraped for schiaparelli
url5_2 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'
browser.visit(url5_2)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# Featured Image
image_url_2 = soup.find("img", class_="wide-image")["src"]
title_2 = soup.find("h2",class_="title").text

schiaparelli = {"title":title_2, "image_url": "https://astrogeology.usgs.gov/"+image_url_2}
hemisphere_image_urls.append(schiaparelli)

In [23]:
# URL of page to be scraped for syrtis_major
url5_3 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'
browser.visit(url5_3)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# Featured Image
image_url_3 = soup.find("img", class_="wide-image")["src"]
title_3 = soup.find("h2",class_="title").text

syrtis_major = {"title":title_3, "image_url": "https://astrogeology.usgs.gov/"+image_url_3}
hemisphere_image_urls.append(syrtis_major)

In [24]:
# URL of page to be scraped for valles_marineris
url5_4 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'
browser.visit(url5_4)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# Featured Image
image_url_4 = soup.find("img", class_="wide-image")["src"]
title_4 = soup.find("h2",class_="title").text

valles_marineris = {"title":title_4, "image_url": "https://astrogeology.usgs.gov/"+image_url_4}
hemisphere_image_urls.append(valles_marineris)

In [25]:
print(f"hemisphere_image_urls = {hemisphere_image_urls}")

hemisphere_image_urls = [{'title': 'Cerberus Hemisphere Enhanced', 'image_url': 'https://astrogeology.usgs.gov//cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'image_url': 'https://astrogeology.usgs.gov//cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'image_url': 'https://astrogeology.usgs.gov//cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'image_url': 'https://astrogeology.usgs.gov//cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]